.fromContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fromWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.logo {
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
}

.title {
    color: #5d5b8d;
    font-size: 12px;
}

.fromContainer .fromWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fromContainer .fromWrapper form input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #a7bcff;
    width: 250px;
}

.fromContainer .fromWrapper form input ::placeholder {
    color: rgb(175, 175, 175);
}

.fromContainer .fromWrapper form button {
    background-color: #7b96ec;
    color: white;
    padding: 10px;
    font-weight: bold;
}