.fromContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fromWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.logo {
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
}

.title {
    color: #5d5b8d;
    font-size: 12px;
}

.fromContainer .fromWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fromContainer .fromWrapper form input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #a7bcff;
    width: 250px;
}

.fromContainer .fromWrapper form input ::placeholder {
    color: rgb(175, 175, 175);
}

.fromContainer .fromWrapper form button {
    background-color: #7b96ec;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

p {
    color: #5d5b8d;
    font-size: 12px;
    margin-top: 10px;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8da4f1;
    font-size: 12px;
}

img {
    width: 32px;
}

.home {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 1;
    background-color: #3e3c61;
}

.chat {
    flex: 2;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #2f2d52;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #ddddf7;
}

.logo {
    font-weight: bold;
}

.user {
    display: flex;
    gap: 10px;
}

.user img {
    background-color: #ddddf7;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.user button {
    background-color: #5d5b8d;
    color: #ddddf7;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.search {
    border-bottom: 1px solid gray;
}

.searchForm {
    padding: 10px;
}

.searchForm input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}

.userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.userChat :hover {
    background-color: #2f2d52;
}

.userChat img {
    background-color: #ddddf7;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.userChatInfo span {
    font-size: 18px;
    font-weight: 500;
}

.userChatInfo p {
    font-size: 14px;
    color: lightgray;
}

.chatInfo {
    height: 50px;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}

.chatIcons {
    display: flex;
    gap: 10px;
}

.chatIcons img {
    height: 24px;
    cursor: pointer;
}